@charset "UTF-8";

body{
    animation: colorbg 10s alternate infinite;
    background-size: 300% 300%;
}
@keyframes colorbg{
    from{
        background-position: 0 50%;
    }
    to{
        background-position: 100% 50%;
    }
}