@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #07d1f9, #0d05ed, #7305d3,#b3f91b) no-repeat;
    background-size: 300% 300%;
    font-family: Arial, Helvetica, sans-serif;
   
}
main{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: aliceblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.333);
    padding: 40px;
    border-radius: 20px;

}
h1{
    text-align: center;
    margin-bottom: 10px;
}
p{
    text-align: center;
    margin-bottom: 15px;
}
input{
    width: 200px;
    padding: 6px;
    display: block;
    margin: auto;
}
#botao{
    margin-top: 10px;
    border: none;
    background-color: #0daecf;
    color: aliceblue;
    font-size: 1.1em;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.238);
}
input#inum{
    border-radius: 20px;
    border: 1px solid rgb(205, 219, 255);
    background-color: rgb(231, 236, 234);
}
#res{
    text-align: center;
    padding-top: 10px;
}